* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #343a40;
  --todo-background: #f8f9fa;
  --overdue-background: #ff000033;
  --completed-background: #00ff0033;
  --border-color: #232324;
  --nav-background: #121314;
  --nav-text: #ffffff;
}

:root.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #1c1c1e;
  --todo-background: #2b2b2b;
  --overdue-background: #ff000033;
  --completed-background: #00ff0033;
  --border-color: #6c757d;
  --nav-background: #2e3945;
  --nav-text: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
